EXTRACCIÓN, TRANSFORMACIÓN, CARGA DE DATOS (E.T.L)


María Agostina Balverde Moll - DATA FT 11

In [1]:
#Importar librerías necesarias

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import csv
import json
import ast

In [3]:
#Importo el csv 'credits'

data_credits = pd.read_csv('Datasets/credits.csv')

In [5]:
data_credits['cast'] = data_credits['cast'].apply(ast.literal_eval)

In [6]:
#El campo 'cast' anidado, lo desanido y coloco en nuevas columnas los datos que contiene

data_credits['CastId'] = data_credits['cast'].apply(lambda x: ', '.join([str(d['cast_id']) for d in x]))

In [7]:
data_credits['Character'] = data_credits['cast'].apply(lambda x: ', '.join([str(d['character']) for d in x]))

In [8]:
data_credits['CreditId'] = data_credits['cast'].apply(lambda x: ', '.join([str(d['credit_id']) for d in x]))

In [9]:
data_credits['Gender'] = data_credits['cast'].apply(lambda x: ', '.join([str(d['gender']) for d in x]))

In [10]:
data_credits['Id'] = data_credits['cast'].apply(lambda x: ', '.join([str(d['id']) for d in x]))

In [11]:
data_credits['Name'] = data_credits['cast'].apply(lambda x: ', '.join([str(d['name']) for d in x]))

In [12]:
data_credits['Order'] = data_credits['cast'].apply(lambda x: ', '.join([str(d['order']) for d in x]))

In [13]:
data_credits['ProfilePath'] = data_credits['cast'].apply(lambda x: ', '.join([str(d['profile_path']) for d in x]))

In [14]:
#Elimino la columna 'cast', 'CastId', 'CreditId', 'Gender', 'Id', 'Order', 'ProfilePath'

data_credits = data_credits.drop('cast', axis=1)
data_credits = data_credits.drop('CastId', axis=1)
data_credits = data_credits.drop('CreditId', axis=1)
data_credits = data_credits.drop('Gender', axis=1)
data_credits = data_credits.drop('Id', axis=1)
data_credits = data_credits.drop('Order', axis=1)
data_credits = data_credits.drop('ProfilePath', axis=1)

In [15]:
#Cargo los datos en el csv 'credits'

data_credits.to_csv('Datasets/credits.csv', index=False)

In [4]:
data_credits

,Director,Id,Character,Name
0,['John Lasseter'],862,"Woody (voice), Buzz Lightyear (voice), Mr. Pot...","Tom Hanks, Tim Allen, Don Rickles, Jim Varney,..."
1,['Joe Johnston'],8844,"Alan Parrish, Samuel Alan Parrish / Van Pelt, ...","Robin Williams, Jonathan Hyde, Kirsten Dunst, ..."
2,['Howard Deutch'],15602,"Max Goldman, John Gustafson, Ariel Gustafson, ...","Walter Matthau, Jack Lemmon, Ann-Margret, Soph..."
3,['Forest Whitaker'],31357,"Savannah 'Vannah' Jackson, Bernadine 'Bernie' ...","Whitney Houston, Angela Bassett, Loretta Devin..."
4,['Charles Shyer'],11862,"George Banks, Nina Banks, Franck Eggelhoffer, ...","Steve Martin, Diane Keaton, Martin Short, Kimb..."
...,...,...,...,...
45471,['Hamid Nematollah'],439050,", ,","Leila Hatami, Kourosh Tahami, Elham Korda"
45472,['Lav Diaz'],111109,"Sister Angela, Homer, Crazy Woman/Virgin, Aman...","Angel Aquino, Perry Dizon, Hazel Orencio, Joel..."
45473,['Mark L. Lester'],67758,"Emily Shaw, Det. Mark Winston, Jayne Ferré, Al...","Erika Eleniak, Adam Baldwin, Julie du Page, Ja..."
45474,['Yakov Protazanov'],227506,", , , ,","Iwan Mosschuchin, Nathalie Lissenko, Pavel Pav..."
45475,['Daisy Asquith'],461257,NaN,NaN

In [29]:
#Importar librerías necesarias

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import csv
import json
import ast

In [5]:
#Creo un nuevo dataframe para trabajar con la columna 'crew'

data_credits_1 = pd.read_csv('Datasets/credits.csv')

In [ ]:
data_credits_1 ['crew'] [0]

In [32]:
#Creo una función para obtener sólo el nombre de los directores de las películas de la columna 'crew'

def obtener_director (obj):
  lista_director = []
  for i in ast.literal_eval(obj):
    if i['job'] == 'Director':
      lista_director.append(i['name'])
      break
  return lista_director

In [33]:
data_credits_1['crew'] = data_credits_1['crew'].apply(obtener_director)

In [35]:
#Cambio el nombre de la columna 'crew' por 'Director'

#Creo un diccionario con los nuevos nombres de las columnas
nuevos_nombres = {
    'crew': 'Director',
    'id': 'Id',
}

#Cambio los nombres de las columnas
data_credits_1 = data_credits_1.rename(columns=nuevos_nombres)

In [8]:
data_credits_1.head()

,Director,Id,Character,Name
0,['John Lasseter'],862,"Woody (voice), Buzz Lightyear (voice), Mr. Pot...","Tom Hanks, Tim Allen, Don Rickles, Jim Varney,..."
1,['Joe Johnston'],8844,"Alan Parrish, Samuel Alan Parrish / Van Pelt, ...","Robin Williams, Jonathan Hyde, Kirsten Dunst, ..."
2,['Howard Deutch'],15602,"Max Goldman, John Gustafson, Ariel Gustafson, ...","Walter Matthau, Jack Lemmon, Ann-Margret, Soph..."
3,['Forest Whitaker'],31357,"Savannah 'Vannah' Jackson, Bernadine 'Bernie' ...","Whitney Houston, Angela Bassett, Loretta Devin..."
4,['Charles Shyer'],11862,"George Banks, Nina Banks, Franck Eggelhoffer, ...","Steve Martin, Diane Keaton, Martin Short, Kimb..."

In [9]:
#Cargo los datos en el csv 'credits'

data_credits_1.to_csv('Datasets/credits.csv', index=False)