EXTRACCIÓN, TRANSFORMACIÓN, CARGA DE DATOS (E.T.L)


María Agostina Balverde Moll - DATA FT 11

In [1]:
#Importo la librería pandas

import pandas as pd

In [2]:
data_movies = pd.read_csv('datos_modificados.csv')
data_credits = pd.read_csv('Datasets/credits.csv')

C:\Users\Usuario\AppData\Local\Temp\ipykernel_9932\1899399592.py:1: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  data_movies = pd.read_csv('datos_modificados.csv')

In [3]:
#Reviso el tipo de dato de la columna 'id' de ambos dataframe

print(data_movies['id'].dtype)

object

In [4]:
print(data_credits['Id'].dtype)

int64

In [5]:
#Filtro la columa 'id' para buscar los valores que no son enteros

noints = data_movies[~data_movies['id'].astype(str).str.isdigit()].reset_index(drop=True)

columna_noints = data_credits.loc[noints.index, 'Id']

print(columna_noints)

0      862
1     8844
2    15602
Name: Id, dtype: int64

In [6]:
import pandas as pd

# Filtrar donde la columna 'id' no es de tipo int
noints = data_movies[~data_movies['id'].astype(str).str.isdigit()]

# Convertir los datos de la columna 'id' que no son de tipo entero a NaN
data_movies.loc[noints.index, 'id'] = pd.np.nan

# Convertir la columna 'id' a tipo entero
data_movies['id'] = data_movies['id'].astype(float).astype(pd.Int64Dtype())

# Mostrar los datos convertidos a tipo entero
print(data_movies['id'])

0           862
1          8844
2         15602
3         31357
4         11862
          ...
45374     30840
45375    111109
45376     67758
45377    227506
45378    461257
Name: id, Length: 45379, dtype: Int64

C:\Users\Usuario\AppData\Local\Temp\ipykernel_9932\2830300610.py:7: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  data_movies.loc[noints.index, 'id'] = pd.np.nan

In [7]:
data_merge = pd.merge (data_movies, data_credits, how = 'outer', left_index=True, right_index=True)

In [8]:
data_merge.head(0)

Empty DataFrame
Columns: [budget, genres, id, original_language, overview, popularity, production_companies, production_countries, release_date, revenue, runtime, spoken_languages, status, tagline, title, vote_average, vote_count, CollectionId, CollectionName, CollectionPosterPath, CollectionBackdropPath, release_year, return, release_month, Director, Id, Character, Name]
Index: []

[0 rows x 28 columns]

In [ ]:
#Elimino las columnas que no son necesarias a los fines de crear las funciones

data_merge = data_merge.drop(['status', 'CollectionId','CollectionName','CollectionPosterPath','CollectionBackdropPath'], axis=1)

In [16]:
#Elimino id que está repetida
data_merge = data_merge.drop(['id'], axis=1)

In [18]:
#Importo las librerias necesarias
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [19]:
#Acomodo los nombres de las columnas

data_merge = data_merge.rename(columns={'budget': 'Budget',
                                        'genres':'Genres',
                                        'original_language':'OriginalLanguage',
                                        'overview':'Overview',
                                        'popularity':'Popularity',
                                        'production_companies':'ProductionCompanies',
                                        'production_countries':'ProductionCountries',
                                        'release_date':'ReleaseDate',
                                        'revenue':'Revenue',
                                        'runtime':'Runtime',
                                        'spoken_languages':'SpokenLanguages',
                                        'tagline':'Tagline',
                                        'title':'Title',
                                        'vote_average':'VoteAverage',
                                        'vote_count':'VoteCount',
                                        'release_year':'ReleaseYear',
                                        'return':'Return',
                                        'release_month':'ReleaseMonth',
                                        'Character':'MovieCharacter',
                                        'Name':'ActorName'})

In [21]:
data_merge.shape

(45476, 22)

In [22]:
#Verifico los tipos de datos

data_merge.dtypes

Budget                 float64
Genres                  object
OriginalLanguage        object
Overview                object
Popularity              object
ProductionCompanies     object
ProductionCountries     object
ReleaseDate             object
Revenue                float64
Runtime                float64
SpokenLanguages         object
Tagline                 object
Title                   object
VoteAverage            float64
VoteCount              float64
ReleaseYear            float64
Return                 float64
ReleaseMonth           float64
Director                object
Id                       int64
MovieCharacter          object
ActorName               object
dtype: object

In [23]:
#'Popularity' tiene formato de objeto. Lo paso a float

#Identifico los valores no numéricos
data_merge['Popularity'] = pd.to_numeric(data_merge['Popularity'], errors='coerce')

#Convierto la columna a tipo float
data_merge['Popularity'] = data_merge['Popularity'].astype(float)

In [24]:
#Paso 'ReleaseDate' a datetime

data_merge['ReleaseDate'] = pd.to_datetime(data_merge['ReleaseDate'], errors='coerce')

#Extraigo sólo la fecha (sin la hora)
data_merge['ReleaseDate'] = data_merge['ReleaseDate'].dt.date

In [25]:
#Verifico los tipos de datos

data_merge.dtypes

Budget                 float64
Genres                  object
OriginalLanguage        object
Overview                object
Popularity             float64
ProductionCompanies     object
ProductionCountries     object
ReleaseDate             object
Revenue                float64
Runtime                float64
SpokenLanguages         object
Tagline                 object
Title                   object
VoteAverage            float64
VoteCount              float64
ReleaseYear            float64
Return                 float64
ReleaseMonth           float64
Director                object
Id                       int64
MovieCharacter          object
ActorName               object
dtype: object

In [26]:
data_merge.head(1)

,Budget,Genres,OriginalLanguage,Overview,Popularity,ProductionCompanies,ProductionCountries,ReleaseDate,Revenue,Runtime,...,Title,VoteAverage,VoteCount,ReleaseYear,Return,ReleaseMonth,Director,Id,MovieCharacter,ActorName
0,30000000.0,"Animation, Comedy, Family",en,"Led by Woody, Andy's toys live happily in his ...",21.946943,Pixar Animation Studios,US,1995-10-30,373554033.0,81.0,...,Toy Story,7.7,5415.0,1995.0,12.451801,10.0,['John Lasseter'],862,"Woody (voice), Buzz Lightyear (voice), Mr. Pot...","Tom Hanks, Tim Allen, Don Rickles, Jim Varney,..."

In [27]:
#Verifico si hay valores duplicados

print(f"Hay {data_merge.duplicated().sum()} valores duplicados")

Hay 0 valores duplicados

In [28]:
#Elimino los valores duplicados

data_merge.drop_duplicates(inplace=True)

In [29]:
#Vuelvo a revisar si quedan valores duplicados

print(f"Hay {data_merge.duplicated().sum()} valores duplicados")

Hay 0 valores duplicados

In [30]:
#Exporto el dataframe completo a un csv nuevo

data_merge.to_csv('Movies_completo.csv', index=False)